Android Open Source Project/
autostart/
calibre/
Code/
configstore/
dconf/
filezilla/
gconf/
GIMP/
Google Play Music Desktop Player/
google-chrome/
menus/
Microsoft/
mpv/
npm/
NuGet/
Postman/
pulse/
Slack/
transmission/
VirtualBox/
vlc/

.zcompdump
viminfo
zsh_history
temp.sql
