/pulse/
Android Open Source Project/
autostart/
calibre/
Code - OSS/
Code/
configstore/
dconf/
filezilla/
gconf/
GIMP/
gnome-control-center/
Google Play Music Desktop Player/
google-chrome/
libreoffice/
menus/
Microsoft/
mpv/
nautilus/
npm/
NuGet/
Postman/
Slack/
spotify/
sqlops/
transmission/
VirtualBox/
vlc/

.zcompdump
monitors.xml
viminfo
zsh_history
temp.sql