autostart/*

chromium/*

cmus/*
!cmus/colors.theme

Code/*
!Code/User/
Code/User/*
!Code/User/settings.json
!Code/User/snippets

configstore/*

credentials

dconf/*

gnupg/*

Google Play Music Desktop Player/*

google-chrome/*

gtkfilechooser.ini

htop/*

libreoffice/*

menus/*

mimeapps.list

npmrc

pavucontrol.ini

pulse/*

spotify/*

texstudio/*

Thunar/*

user-dirs*

viminfo

xfce4/*

.zcompdump

zsh_history
